@model Web.Models.HomeModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>HomeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DummyConfigValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DummyConfigValue)
        </dd>
    </dl>
    <hr />
    <div>
        <h1>Customers</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
